/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/var/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

/.buildpath
/.project
/.settings
.DS_Store
Thumbs.db
/nbproject
/.idea
/crontab

/app/parameters.yml
/web/resources/*